.counter_body {
    width: 100%;
    height: 35vh;
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter {
    
    width: 10vw;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.counter button {
    margin-top: 1rem;
}

.counter img {
    padding-top: 2rem;
    width: 40%;
}

.counter span {
    margin-top: 2rem;
    font-size: 35px;
    color: white;
}